/* Techno Race (italic display) for the Hitster wordmark. Hosted on cdnfonts for
   now; self-host the .woff under public/fonts for production + licence clarity. */
@import url('https://fonts.cdnfonts.com/css/techno-race');
@import 'tailwindcss';

:root {
  color-scheme: light dark;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: system-ui, 'Segoe UI', Roboto, sans-serif;
}
